<div class="container" id="lista-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Lista de Clientes</h3>
    </div>
    <div class="panel-body content">

      <div class="main">

        <div class="collapse show text-center filtrar cursorPointer" data-toggle="collapse" data-target="#filtros">
          <label class="cursorPointer">Filtrar</label>
        </div>
        <form class="row collapse" id="filtros" (ngSubmit)="pesquisar()">

          <div class="col-md-8">
            <label for="nome" class=""><strong>Nome</strong></label>
            <input [(ngModel)]="nome" type="text" id="nome" name="nome"
                   placeholder="Filtre pelo nome do cliente">
          </div>

          <div class="col-md-2 text-center">
            <label for="ativo" class="labelAtivo"><strong>Ativo</strong></label>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="ativo" id="ativo" name="ativo">
              <span class="slider round"></span>
            </label>
          </div>

          <div class="col-md-1 text-center">
            <button type="submit" class="btnSearch" data-toggle="tooltip" data-placement="top" title="Filtrar">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-fw fa-lg"><path fill="currentColor"
                   d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class="">
              </path>
              </svg>
            </button>
          </div>

          <div class="col-md-1 text-center">
            <button type="button" class="btnRemove" (click)="limparFiltros()" data-toggle="tooltip" data-placement="top" title="Limpar Filtros">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 448 512" class="svg-inline--fa fa-trash fa-w-14 fa-lg">
                <path fill="currentColor" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z" class=""></path></svg>
            </button>
          </div>

        </form>
        <br>
        <br>
        <table class="table">
          <thead>
          <tr>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Tipo Pessoa</th>
            <th scope="col" class="text-center">CPF/CNPJ</th>
            <th scope="col" class="text-center">RG/IE</th>
            <th scope="col" class="text-center">DATA DE CADASTRO</th>
            <th scope="col" class="text-center">ATIVO</th>
            <th scope="col" class="text-center">EXCLUIR</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cliente of clientes">
            <td class="text-center"><a routerLink="/cliente/{{cliente.id}}">{{cliente.nome}}</a></td>
            <td class="text-center"><a routerLink="/cliente/{{cliente.id}}">{{cliente.tipoPessoa}}</a></td>
            <td class="text-center"><a routerLink="/cliente/{{cliente.id}}">{{cliente.tipoPessoa == 'FISICA' ? (cliente.cpfCnpj | mask:'000.000.000-00') : (cliente.cpfCnpj | mask:'00.000.000/0000-00') }}</a></td>
            <td class="text-center"><a routerLink="/cliente/{{cliente.id}}">{{cliente.tipoPessoa == 'FISICA' ? (cliente.rgIe | mask:'00.000.000-0') : cliente.rgIe }}</a></td>
            <td class="text-center"><a routerLink="/cliente/{{cliente.id}}">{{cliente.dataCadastro | date:"dd/MM/yyyy"}}</a></td>
            <td class="text-center">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="cliente.ativo" disabled>
                <span class="slider round"></span>
              </label>
            </td>
            <td class="text-center">
              <button type="button" class="btnRemoveLista" (click)="excluirCliente(cliente.id)" data-toggle="tooltip" data-placement="top" title="Limpar Filtros">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512" class="svg-inline--fa fa-trash fa-w-14 fa-lg">
                  <path fill="currentColor" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z" class=""></path></svg>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
